.Landing-page{
    width: 1440px;
    height: 6233px;
    top: -2480px;
    left: 309px;
    padding: 0px 48px;
    background-color: #FFFFFF;
    margin: auto;
    justify-content: center;
}

.personal-or-agency-website-header{
    display: flex;
    height: 96px;
    width: 1344px;
    padding-top: 24px;
    gap: 8px;
    background-color: #FFFFFF;
    justify-content: center;
    justify-self: center;
}

.personal-or-agency-website-header .container{
    display: flex;
    width: 1080px;
    height: 72px;
    border-radius: 16px;
    border: 1px solid black;
    justify-content: space-between;
    padding: 24px 32px;
    background-color: #2419F30F;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.personal-or-agency-website-header .container .pagelinks{
    height: 24px;
    width: 255px;
    gap: 32px;
    display: flex;
}

.personal-or-agency-website-header .container .pagelinks .Home{
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    width: 48px;
    height: 24px;
}

.personal-or-agency-website-header .container .pagelinks .Projects{
    width: 65px;
    height: 24px;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.personal-or-agency-website-header .container .pagelinks .About{
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    width: 48px;
    height: 24px;
}


.personal-or-agency-website-header .container .socials{
    height: 24px;
    width: 64px;
    gap: 32px;
}

.personal-or-agency-website-header .container .socials .Contact{
    font-size: 17px;
    color: #000000;
    width: 64px;
    height: 24px;
    line-height: 24px;
}

.personal-or-agency-website-header .container .logo{
    width: 157px;
    height: 72px;
    gap: 12px;
    margin-right: 200px;   /* given by self */
}

.personal-or-agency-website-header .container .logo .NeonPort{
    width: 157px;
    height: 33px;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Container{
    width: 1344px;
    height: 5300px;
    padding: 48px 0px;
}

.Container .Main-Content{
    width: 1344px;
    height: 5617px;
}

.Hero-with-tagline-and-image{
    width: 1344px;
    height: 800px;
    border-bottom: 1px black;
    padding: 96px 0px;
    gap: 48px;
    background-color: #FFFFFF;
    margin-left: 50px;    /* given by self */
}

.Hero-with-tagline-and-image .welcome{
    width: 1344px;
    height: 240px;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    letter-spacing: -2%;
    color: #000000;
}

.Hero-with-tagline-and-image .image{
    width: 1344px;
    height: 672px;
    border: 1px solid black;
}

.Hero-with-tagline-and-image .image img{
    width: 1344px;
    height: 672px;
    border-top: 1px solid #00000000;
}

.Project-overview-collage{
    width: 1344px;
    height: 1191px;
    border-bottom: 1px;
    margin: 50px;    /* given by self */
    margin-bottom: 0;
}

.Project-overview-collage .row{
    width: 1344px;
    height: 275px;
    padding: 48px 0px;
    gap: 48px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Project-overview-collage .row .project{
    width: 416px;
    height: 333px;
    gap: 8px;
}

.Project-overview-collage .row .project img{
    width: 416px;
    height: 277px;
    border: 1px solid #00000000;
}

.Project-overview-collage .row .project .Text-content{
    width: 416px;
    height: 48px;
}

.Project-overview-collage .row .project .Text-content .text1{
    width: 418px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.Project-overview-collage .row .project .Text-content .text2{
    width: 416px;
    height: 24px;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.cutout-image{
    width: 1344px;
    height: 900px;
    border-bottom: 1px solid black;
    background-color: #FFFFFF;
    margin-left: 50px;
    display: flex;
}

.cutout-image .divider{
    width: 1350px;
    top: 900px;
    left: -96px;
    border: 1px solid #000000;
}

.cutout-image .imageDiv{
    width: 868px;
    height: 900px;
    left: 572px;
}

.cutout-image .imageDiv img{
    width: 720px;
    height: 900px;
    border: 1px solid black;
}

.cutout-image .textContent{
    width: 624px;
    height: 244px;
    top: 328px;
    gap: 48px;

}

.cutout-image .textContent .Frame{
    width: 624px;
    height: 148px;
    gap: 16px;
    margin-left: 20px;
    margin-top: 300px;
}

.cutout-image .textContent .Frame .text1{
    width: 624px;
    height: 68px;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2%;
    color: #000000;
}

.cutout-image .textContent .Frame .text2{
    width: 624px;
    height: 64px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5%;
    color: #000000;
}

.cutout-image .textContent .buttonLarge{
    width: 174px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #2419F3;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.cutout-image .textContent .buttonLarge .button{
    width: 126px;
    height: 4px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 12px;
}

.About-section{
    width: 1344px;
    height: 1200pxpx;
    border-bottom: 1px;
    padding-top: 200px;
    padding-bottom: 90px;
    gap: 96px;
    background-color: #FFFFFF;
    margin-left: 50px;
}

.About-section .text{
    width: 900px;
    height: 340px;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2%;
    color: #000000;
    margin-left: 40px;
}

.About-section img{
    width: 1344px;
    height: 810px;
    border: 1px  solid black;
}

.Detail-page{
    width: 1344px;
    height: 132px;
    border-bottom: 1px;
    padding: 48px 0px;
    gap: 48px;
    background-color: #FFFFFF;
    margin-left: 50px;
    display: flex;
}

.Detail-page .spacer{
    width: 655px;
    height: 36px;
}

.Detail-page .spacer .text{
    width: 652px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #000000;
    margin-left: 50px;
}

.Detail-page>.text{
    width: 640px;
    height: 28px;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
}

.verification{
    width: 1344px;
    height: 700px;
    padding-top: 200px;
    gap: 48px;
    background-color: #FFFFFF;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.verification .main-container{
    width: 400px;
    height: 276px;
    gap: 32px;
}

.verification .main-container .Instruction{
    width: 400px;
    height: 60px;
    gap: 8px;
}

.verification .main-container .Instruction .text1{
    width: 400px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    text-align: center;
    color: #000000;
}

.verification .main-container .Instruction .text2{
    width: 400px;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.verification .main-container .Input-container{
    width: 600px;
    height: 64px;
    gap: 12px;
    display: flex;

}

.verification .main-container .Input-container input{
    width: 56px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 8px 16px;
    background-color: #FFFFFF;
}

.verification .main-container .button-fill{
    width: 400px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #2419F3;
    margin-top: 60px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    
}

.verification .main-container .button-fill button{
    width: 51px;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.verification .main-container .text{
    width: 31px;
    height: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #2419F3;
    margin-left: 200px;
    margin-top: 20px;
}

.Footer{
    width: 1344px;
    height: 424px;
    border-bottom: 1px;
    padding: 96px 0px;
    gap: 48px;
    background-color: #FFFFFF;
    margin-left: 50px;

}

.Footer>.text{
    width: 217px;
    height: 40px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1%;
    color: #000000;
    margin-left: 600px;
}

.Footer .input{
    width: 600px;
    height: 48px;
    gap: 12px;
    display: flex;
    margin-left: 400px;
}

.Footer .input .input-standard{
    width: 443px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 8px 12px;
    gap: 8px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.Footer .input .input-standard input{
    width: 419px;
    height: 40px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.Footer .input .buttonLar{
    width: 145px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #2419F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer .input .buttonLar .text{
    width: 97px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.Footer .socials{
    width: 208px;
    height: 48px;
    gap: 32px;
}
